 div{
   height:200px;
   width:200px;
   color: black;
   font-size: 25px;
   /* background-image: url("cat_photo.jpg"); */
   background-image: url("nature.jpg");
   background-size: cover;
   right:0;
   position:fixed;
 }
 body{
   /* background-image: url("nature.jpg"); */
    background-size: cover;
 }
